[submodule "kirby"]
	path = kirby
	url = https://github.com/getkirby/kirby.git
[submodule "site/plugins/editor"]
	path = site/plugins/editor
	url = git@github.com:getkirby/editor.git
[submodule "site/plugins/kirby-json"]
	path = site/plugins/kirby-json
	url = git@github.com:OblikStudio/kirby-json.git
